.shipping-form-container {
  width: 50vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #f1f0ed;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px #f1f0ed;
}
.shipping-form-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Inter", sans-serif;
}
.shipping-form-card label {
  font-size: 16px;
  margin-bottom: 10px;
}
.shipping-form-card input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ab8262;
  border-radius: 10px;
  background-color: transparent;
}
.shipping-form-card input:focus {
  outline: none;
  border-color: #ab8262;
}
.shipping-form-card input[type="number"]::-webkit-inner-spin-button,
.shipping-form-card input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.shipping-form-card input[type="number"] {
  appearance: textfield;
}
.shipping-form-card p {
  font-size: 14px;
}
.placeorder-btn {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #ab8262;
  border: none;
  border-radius: 20px;
  color: #f1f0ed;
}
.placeorder-btn:hover {
  background-color: #088178;
  cursor: pointer;
}
.placeorder-btn:disabled,
.placeorder-btn:disabled:hover,
.placeorder-btn:disabled:active {
  cursor: not-allowed;
}
.btn-invlaid {
  pointer-events: none;
}
.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
@media (max-width: 768px) {
  .shipping-form-container {
    width: 75vw;
  }
}
@media (max-width: 500px) {
  .shipping-form-container {
    width: 85vw;
  }
}
