@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

.navigation {
  font-family: "Slabo 27px", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ab8262d7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 10px 20px;
  font-weight: 400;
  height: 10vh;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #f1f0ed;
  transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a:active,
.navbar li a.active {
  color: #088178;
}

.navbar li a:hover::after,
.navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Ham Menu */

.hamburger {
  display: none;
}

/* media queries */

@media (max-width: 800px) {
  .navigation {
    height: 8vh;
  }
  .navbar li a {
    font-size: 16px;
  }
  .navbar-close {
    opacity: 0;
  }
  .navbar li {
    padding: 0 15px;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 4px;
    width: 35px;
    height: 35px;
  }
  .close-icon {
    z-index: 999;
  }

  .mobile-nav {
    background-color: #f1f0ed;
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-top: 8vh;
    padding-inline-start: 0px;
    transition: all 0.4s ease-in-out;
  }

  .mobile-nav li a.active::after,
  .mobile-nav li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 15px;
  }
  .mobile-nav li {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .mobile-nav li a {
    font-size: 16px;
    color: #ab8262d7;
  }
}
